<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

       <security:http auto-config="true" use-expressions="true" access-denied-page="/security/denied">
              <security:intercept-url pattern="/security/login" access="permitAll"/>
              <security:intercept-url pattern="/User/admin" access="hasRole('ROLE_ADMIN')"/>
              <security:intercept-url pattern="/User/admin" access="permitAll"/>
              <security:intercept-url pattern="/User/common" access="hasRole('ROLE_USER,ROLE_ADMIN')"/>

              <security:form-login
                      login-page="/security/login"
                      authentication-failure-url="/security/login?error=true"
                      default-target-url="/site/loginSuccess.jsp"/>
       </security:http>

       <!--认证管理器-->
       <security:authentication-manager>
              <security:authentication-provider user-service-ref="customUserDetailsService">
                     <!--<security:password-encoder ref="passwordEncode"/>--><!--密码加密方式-->
              </security:authentication-provider>
       </security:authentication-manager>
       <!--<security:authentication-manager>
              <security:authentication-provider>
                     <security:user-service>
                            <security:user name="user" password="user" authorities="ROLE_USER"/>
                            <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
                     </security:user-service>
              </security:authentication-provider>
       </security:authentication-manager>-->
       <!--密码的加密方式-->
       <bean id="passwordEncode" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

       <bean id="customUserDetailsService" class="com.kui.security.customUserDetailsService">
              <property name="dataSource" ref="dataSource"/>
              <property name="rolePrefix" value="ROLE_"/>
       </bean>


</beans>