<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

       <context:property-placeholder location="classpath*:database.properties"/>

       <!--<import resource="spring-cache.xml"/>-->

       <!--开启扫描注解-->
       <context:component-scan base-package="com.kui.security"/>
       <!--声明式事务-->
       <tx:annotation-driven transaction-manager="jpaTansactionManager"/>

       <bean id="jpaTansactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entryManagerFactory"/>
       </bean>

       <!--数据源配置，使用c3p0数据源-->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
              <!--name-->
              <property name="user" value="${name}"/>
              <!--password-->
              <property name="password" value="${password}"/>
              <property name="driverClass" value="${p6spyDriverClassName}"/>
              <property name="jdbcUrl" value="${url}"/>
              <!--最大连接数，默认为15-->
              <property name="maxPoolSize" value="20"/>
              <!--最小连接数，默认为3-->
              <property name="minPoolSize" value="2"/>
              <!--初始化连接池中的连接数，默认为3-->
              <property name="initialPoolSize" value="2"/>
              <!--最大空闲时间，该时间内未使用则连接被丢弃，为0则永不丢弃，默认为0-->
              <property name="maxIdleTime" value="60"/>
       </bean>

       <!--jpa的entryManager-->
       <bean id="entryManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
       </bean>
       <!--Jpa厂商适配器-->
       <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
              <property name="database" value="MYSQL"/>
              <property name="showSql" value="true"/>
              <property name="generateDdl" value="false"/>
              <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>
       </bean>


      <!-- <bean id="testBean" class="org.springframework.aop.framework.ProxyFactoryBean">
              &lt;!&ndash;<property name="target">
                     <ref bean="methodCacheInterceptor" />
              </property>&ndash;&gt;
              <property name="interceptorNames">
                     <list>
                            <value>methodCacheInterceptor</value>
                     </list>
              </property>
       </bean>-->
</beans>